<h3>Video Catalog</h3>
<hr>

<div class="container">
    <div class="row">
      <div class="col-sm">
        <app-pagination-widget></app-pagination-widget>
      </div>
      <div class="col-sm">
        <app-search-widget></app-search-widget>
      </div>
      <div class="col-sm">
        <app-category-filter-widget></app-category-filter-widget>
      </div>
    </div>
</div>

<table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Title</th>
        <th scope="col">Year</th>
        <th scope="col">Type</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
