<h3>Video Catalog</h3>
<hr>

<div class="container">
    <div class="row">
      <div class="col-sm">
        <app-pagination-widget [resultsPerPage]="resultsPerPage" [currentPage]="currentPage" [totalResults]="totalResults" [isLoading]="isLoading" [isError]="isError" (pageClick)="goToPage($event)"></app-pagination-widget>
      </div>
      <div class="col-sm">
        <app-search-widget [query]="search" (newSearch)="newSearch($event)"></app-search-widget>
      </div>
      <div class="col-sm">
        <app-category-filter-widget [categories]="movieCategories" [selectedCategory]="selectedCategory" (typeClicked)="changeCategoryType($event)"></app-category-filter-widget>
      </div>
    </div>
</div>
<app-movie-table [loading]="isLoading" [searchResults]="searchResults" [isError]="isError"></app-movie-table>
